.Card {
  box-sizing: border-box;
  border: 3px solid #bfbfbf;
  border-radius: 8px;
  display: inline-block;
  height: 300px;
  margin: 12px;
  padding: 20px;
  width: 300px;
}

.active-card {
  border: 3px solid #4C4CFF;
}

.location {
  margin-top: 0;
  text-align: center;
}

.location-comparison {
  margin-bottom: 0;
}

.combined-average-title {
  margin-top: 60px;
  margin-bottom: 0;
}

.combined-average-value {
  margin-top: 0;
  margin-bottom: 60px;
}

.higher-stats {
  color: #267f26;
}

.lower-stats {
  color: #44e544;
}

.stats {
  text-align: left;
  margin: 0;
}

.average {
  margin-top: 0;
}